build/
cmake-build-*/
.cache/
*.user
.vs/
.idea/
*.swp
*.swo
*.orig
*.bak
compile_commands.json
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.a
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib
